@import './base.css';

#app {
   /* was max-width: 1980px; */
  max-width: 3000px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  /* background-color: blueviolet; */
}

a,
.blue {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  color: #1976D2;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
   /* background-color: hsla(160, 100%, 37%, 0.2); */
   background-color: #f2f6fc;
}
}

/* was min-width: 1024px, then I set it to 1980 */
@media (min-width: 3000px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
